.inputcltime {
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid #A1B3C1;
	padding: 3px 3px 3px 5px;
	color: #555;
	width: 129px;
	display: inline-block;
	background: url(../images/date_dot.png) 105px 5px no-repeat;
	border: 1px solid #A1B3C1;
}

.inputcltime0 { /*margin-left: 8px;*/
	margin-right: 8px;
	border: 1px solid #A1B3C1;
	padding: 3px 3px 3px 5px;
	color: #555;
	width: 85px;
	display: inline-block;
	background: url(../images/date_dot.png) 77px 5px no-repeat;
	border: 1px solid #A1B3C1;
}

.inputcltime1 { /*margin-left: 8px;*/
	margin-right: 8px;
	padding: 3px 3px 3px 5px;
	color: #555;
	width: 240px;
	display: inline-block;
	background: url(../images/date_dot.png) 175px 3px no-repeat;
	border: 1px solid #ccc;
}

.inputcltime12 {
	display: inline-block;
	background: url(../images/date_dot.png) 228px 5px no-repeat;
	width: 240px;
	border: 1px solid #ccc;
	font-size: 14px;
	color: #555;
	padding: 5px;
	outline: none;
	margin: 3px 0;
	border-radius: 4px;
}

.cl_select {
	outline: none;
	padding: 3px;
	border: 1px solid #A1B3C1;
	color: #555;
	line-height: 35px;
}

.btn_search {
	padding: 4px 8px;
	border: 1px solid #A1B3C1;
	background-color: #A1B3C1;
	color: #fff;
}

.btn_search:hover {
	color: #333;
	background-color: #5c8dbc;
}

.btn_expost {
	padding: 4px 8px;
	border: 1px solid #357ebd;
	background-color: #357ebd;
	color: #fff;
}

.btn_expost:hover {
	background-color: #5c8dbc;
	color: #555;
}

.div_img_upload {
	height: 80px;
	width: 80px;
	border: 1px solid #A4B4C3;
	margin-left: 10px;
	cursor: pointer;
}

.div_img_upload span {
	font-size: 66px;
	margin-left: 20px;
	color: #A5A5A5;
}